.cce-project-info {
  display: flex;
  justify-content: space-between;
}
.cce-project-img {
  display: flex;
  flex-direction: column;
}

.cce-project-img span {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.cce-project-info-text {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.bullet {
  display: list-item;
  margin: 1em;
}
.bullet::before {
  content: '• ';
}

.cce-project-info-insight {
  background-color: #cddbd3;
  padding: 3px 10px;
  width: fit-content;
}
