.hero_container {
  display: flex;
  margin-top: 10rem;
  justify-content: space-between;
}

/* Col1 */
.hero_content_col1 {
  font-weight: 400;
  font-size: 50px;
  text-align: start;
  width: 546px;
  height: 320px;
  padding-right: 2rem;
}
.hero_content_col1_title {
  margin-bottom: 3rem;
}
.hero_content_col1_text {
  font-size: 40px;
  color: #646464;
  position: absolute;
}
.textloop {
  position: relative;
  overflow: hidden;
  font-size: 40px;
  height: 150px;
}

/* Col2 */
.hero_content_col2 {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2rem;
}
.hero_content_col2_text {
  font-weight: 700;
  font-size: 16px;
  color: #000000;
}
.hero_content_col2 p {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}
.hero_content_col2_link {
  font-weight: 700;
  font-size: 16px;
}
.divider {
  border: solid black 1px;
}
@media (max-width: 1263px) {
  .hero_content_col2 p {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 1024px) {
  .hero_content_col1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 768px) {
  .hero_container {
    flex-direction: column;
    margin-top: 52px;
  }

  .hero_content_col1 {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .textloop {
    display: flex;
    justify-content: center;
  }
  .divider {
    border: solid black 1px;
    position: relative;
    bottom: 65px;
  }

  .hero_content_col2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    min-height: 200px;
  }
}
