.hero_container {
  display: flex;
  margin-top: 10rem;
  justify-content: space-between;
}

/* Col1 */
.hero_content_col1 {
  font-weight: 400;
  font-size: 50px;
  text-align: start;
  width: 546px;
  height: 320px;
}
.hero_content_col1_title {
  margin-bottom: 3rem;
}

@media (max-width: 1024px) {
  .hero_content_col1 {
    font-size: 40px;
  }
}

/* Col2 */
.hero_content_col2 {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2rem;
}
.hero_content_col2_text {
  font-weight: 700;
  font-size: 16px;
  color: #000000;
}
.hero_content_col2 p {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}
.hero_content_col2_link {
  font-weight: 700;
  font-size: 16px;
}
@media (max-width: 1263px) {
  .hero_content_col2 p {
    font-size: 16px;
    line-height: 26px;
  }
}

.divider {
  border: solid black 1px;
}
