.footer-container {
  display: flex;
  align-items: center;

  background: #1e1e1e;
  padding: 4rem 0;
}

.social-links-container {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-left: 10%;
}

.social-link-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
