.project-card {
  display: flex;

  margin-top: 7rem;
  padding-left: 2rem;
  height: 250px;
  overflow-y: hidden;
  background: #e8e8e8;
  cursor: pointer;
  border-radius: 10px;
}
.project-card:hover {
  background: #e6e2e0;
}
.project-card__image {
  width: 481px;
  height: 476px;
}

.project-card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.project-card__title {
  font-weight: 600;
  font-size: 42px;
  line-height: 62px;
  text-align: center;

  color: #1e1e1e;
}
.project-card__desc {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;

  color: #1e1e1e;
}
.project-card__tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.CCE-content {
  padding-left: 0;
}
.JUI-content {
  justify-content: space-between;
}

.project-card__image {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.CCE {
  padding-top: 1rem;
}
